<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <style>
    html,
    body {
      font-family: sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #f7f7f7
    }

    #container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    h1 {
      font-weight: 300;
      font-size: 42px;
      color: #525252;
      margin-bottom: 20px;
    }

    hr {
      width: 70vw;
      height: 1px;
      border: none;
      background-color: #dfdfdf;
      margin: 0;
    }

    p {
      font-size: 20px;
      color: #898989;
    }
  </style>
</head>

<body>
  <div id="container">
    <h1>
      <%= @response.status_code %>
    </h1>
    <hr />
    <p><%= Hatty::Router::StatusTexts[@response.status_code] %></p>
  </div>
</body>

</html>